.paint {
	height: 600px;
	max-height: 600px;
}

#dessin {
	width: 800px;
	max-width: 800px;
	display: flex;
	flex-direction: column;
}

#switch {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
